<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327779298654-05hvsnet4cj03f4p6bsbecrgnlce0heb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327779298654-05hvsnet4cj03f4p6bsbecrgnlce0heb</string>
	<key>API_KEY</key>
	<string>AIzaSyAmlJu1eo5IKIyDW_YFD203X_2_Ljo7QSM</string>
	<key>GCM_SENDER_ID</key>
	<string>327779298654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fm.cymarket</string>
	<key>PROJECT_ID</key>
	<string>cymarket-051c1</string>
	<key>STORAGE_BUCKET</key>
	<string>cymarket-051c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327779298654:ios:34cac426a8b65a969173cf</string>
</dict>
</plist>